.user-registration-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user-registration-user-reg {
  width: 100%;
  height: 1015px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(-66deg, rgba(123, 189, 211, 1) 2%, rgba(240, 243, 186, 1) 100%);
}
.user-registration-container1 {
  top: 0px;
  flex: 50;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-sixunits);
  display: flex;
  position: absolute;
  max-width: 1800px;
  align-self: center;
  min-height: 800px;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("/playground_assets/rectangle11710-j3g8-800h.png");
  background-position: center;
}
.user-registration-forms {
  top: 150px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 1500px;
  min-height: 600px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.user-registration-form {
  gap: 31px;
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 580;
  align-self: center;
  box-shadow: 10px 10px 10px 10px #d4d4d4;
  min-height: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(243, 243, 243, 1);
}
.user-registration-inputs {
  gap: var(--dl-space-space-twounits);
  top: 100px;
  clip: auto;
  left: 40px;
  width: 500;
  height: 450;
  display: flex;
  position: absolute;
  max-width: 500px;
  min-height: 450;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.user-registration-fullname {
  width: auto;
  height: auto;
  font-size: 25px;
  max-width: 500px;
  min-height: 60px;
}
.user-registration-age {
  width: auto;
  height: auto;
  font-size: 24px;
  max-width: 500px;
  min-height: 60px;
}
.user-registration-bmi {
  width: auto;
  height: auto;
  font-size: 24px;
  max-width: 500px;
  min-height: 60px;
}
.user-registration-username {
  width: auto;
  height: auto;
  font-size: 24px;
  max-width: 500px;
  min-height: 60px;
}
.user-registration-email {
  width: auto;
  height: auto;
  font-size: 24px;
  max-width: 500px;
  min-height: 60px;
}
.user-registration-password {
  width: auto;
  height: auto;
  font-size: 24px;
  max-width: 500px;
  min-height: 60px;
}
.user-registration-register {
  width: auto;
  height: auto;
  font-size: 24px;
  max-width: 450px;
  align-self: center;
  min-height: 60px;
  text-align: center;
  font-family: Laila;
  line-height: 1;
  background-color: rgb(133, 215, 206);
}
.user-registration-sign-in {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.user-registration-question {
  align-self: flex-start;
  text-align: left;
  font-family: Laila;
  padding-right: var(--dl-space-space-unit);
}
.user-registration-sign-in {
  color: var(--dl-color-gray-black);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  max-width: 200px;
  align-self: flex-end;
  max-height: auto;
  min-height: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 400;
  line-height: 1;
  border-width: 0px;
  border-radius: 60px;
  text-transform: capitalize;
  text-decoration: underline;
  background-color: transparent;
}
.user-registration-navlink {
  text-align: left;
  line-height: 1.2;
  text-decoration: none;
}
.user-registration-text1 {
  text-transform: lowercase;
}
.user-registration-b-icalq {
  width: 300px;
  height: auto;
  font-size: 24px;
  max-width: 450px;
  font-style: normal;
  min-height: 60px;
  text-align: center;
  font-family: Laila;
  font-weight: 500;
  line-height: 2.5;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 60px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: rgb(133, 215, 206);
}
.user-registration-register-here {
  top: var(--dl-space-space-twounits);
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 32px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Laila;
  font-weight: 400;
  line-height: 1;
}
.user-registration-logo {
  top: 150px;
  left: 0px;
  right: 0px;
  width: 285.2686767578125px;
  height: 70px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  padding-left: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.user-registration-qcarelogo2 {
  right: -3px;
  width: 216px;
  bottom: -2px;
  height: 70px;
  position: absolute;
  border-color: transparent;
}
.user-registration-qcarelogo {
  width: auto;
  height: auto;
  max-width: 70px;
  min-height: 70px;
}
@media(max-width: 1600px) {
  .user-registration-container1 {
    margin-right: var(--dl-space-space-sixunits);
  }
  .user-registration-fullname {
    width: auto;
    height: auto;
    max-width: 500px;
  }
  .user-registration-age {
    width: auto;
    height: auto;
  }
  .user-registration-register {
    line-height: 1.5;
  }
}
@media(max-width: 1200px) {
  .user-registration-container1 {
    flex: 1;
    margin-right: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 991px) {
  .user-registration-forms {
    top: 130px;
    margin: var(--dl-space-space-unit);
  }
  .user-registration-fullname {
    width: auto;
    max-width: 500px;
  }
  .user-registration-age {
    width: auto;
  }
  .user-registration-username {
    width: auto;
  }
  .user-registration-password {
    top: 260px;
  }
}
@media(max-width: 767px) {
  .user-registration-container1 {
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-threeunits);
    position: static;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .user-registration-form {
    top: var(--dl-space-space-sixunits);
    left: 0px;
    position: absolute;
  }
  .user-registration-inputs {
    top: 100px;
    left: 94px;
    width: auto;
    height: 450px;
    position: absolute;
    align-self: center;
  }
  .user-registration-fullname {
    width: auto;
    align-self: center;
  }
  .user-registration-register {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .user-registration-container1 {
    margin: var(--dl-space-space-unit);
    max-width: 500px;
  }
  .user-registration-form {
    left: 0px;
    right: 0px;
    margin: var(--dl-space-space-unit);
  }
  .user-registration-inputs {
    left: 0px;
    right: 0px;
    width: 380px;
    position: static;
    max-width: 380px;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
  }
  .user-registration-fullname {
    width: 360px;
  }
  .user-registration-age {
    align-self: center;
  }
  .user-registration-qcarelogo2 {
    right: -3px;
    bottom: -2px;
  }
}
